<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Great100 Studio에서 장면별 내레이션을 직접 녹음하기 위해 마이크를 사용합니다.</string>
  </dict>
</plist>
